body {
  font-family: Arial, helvetica neue, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #f6f6f6;
  color: #333;
  -webkit-font-smoothing: antialiased
}
.clear-both{
  clear:both;
}
a {
  color: #4a4a4a
}

a:hover {
  color: #000;
  text-decoration: none
}

.btn-topcv {
  background-color: #0ba25e !important;
  color: #fff !important;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 10px 15px !important
}

.btn-topcv:hover,
.btn-topcv:focus,
.btn-topcv:active {
  background-color: #1a8a58 !important;
  color: #fff
}

#box-group {
  background-image: url('/assets/images/bg_header.jpg');
  background-size: cover
}

header {
  position: relative;
  z-index: 10
}

header .navbar-default {
  background-color: unset
}

header .navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 15px;
  padding: 25px 14px
}

header .navbar-default .navbar-nav>li>a:hover {
  opacity: .6
}

header .navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px
}

header .navbar-brand {
  height: auto;
  padding: 15px
}

header .navbar-right .dropdown .avatar {
  padding: 15px
}

header .navbar-right .dropdown img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px
}

header .navbar-default .navbar-nav>.open>a {
  background-color: unset !important
}

header .dropdown-menu {
  border-radius: 0;
  border: 0;
  padding: 0;
  box-shadow: none
}

header .dropdown-menu>li>a {
  padding: 5px 20px;
  font-size: 14px
}

header .btn-topcv {
  margin-top: 18px;
  margin-left: 5px
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #efefef
}

#epl-btn {
  color: #fff;
  background-color: #fff;
  transition: background-color .3s;
  height: 70px;
  border-radius: 50px
}

#epl-btn:hover {
  opacity: .6
}

#epl-btn a {
  display: inline-block;
  height: 100%;
  background-color: inherit;
  padding-top: 15px;
  border-radius: 50px
}

#epl-btn a p {
  font-weight: 700;
  color: #0e5535;
  text-align: center;
  margin-bottom: 0;
}

#epl-btn a:hover {
  background-color: inherit
}

.dropdown-menu .divider {
  margin: 0
}

.create-cv {
  margin: auto;
  padding-bottom: 80px
}

.create-cv .slogan h1 {
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  text-align: center
}

.create-cv .description p {
  width: 60%;
  margin: 15px auto;
  font-size: 16px;
  color: #fff;
  text-align: center
}

.create-cv .div-btn .create-cv-free-link {
  background: 0 0;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
  font-size: 20px
}

.create-cv .div-btn .create-cv-free-link:hover {
  opacity: .6
}

#box-search-job {
  background-color: rgb(255, 255, 255, .15);
  padding: 10px
}

#frm-search-job h2 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-top: 10px
}

#frm-search-job .input-data {
  position: relative
}

#frm-search-job .input-data .input-icon {
  position: absolute;
  left: 30px;
  top: 10px;
  font-size: 18px;
  z-index: 1;
  color: #666
}

#frm-search-job .input-data .input-icon-select2 {
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 18px;
  z-index: 1;
  color: #666
}

#frm-search-job .input-data .input-search {
  height: 44px;
  border-radius: 0;
  padding-left: 45px
}

#frm-search-job .input-data .input-search:focus {
  border-color: #ccc
}

#frm-search-job .select2-container--default .select2-selection--single {
  height: 44px;
  border-radius: 0;
  border: 1px solid #ccc
}

#frm-search-job .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 10px
}

#frm-search-job .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 40px;
  line-height: 44px
}

#frm-search-job .select2-container--default .select2-selection.select2-selection--single:focus {
  outline: none
}

.select2-search--dropdown .select2-search__field:focus {
  outline: unset !important
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f6f6f6 !important;
  color: #666 !important
}

#frm-search-job .btn-search-job {
  border-radius: 0;
  height: 44px
}

#frm-search-job .btn-search-job i {
  font-size: 18px;
  margin-right: 10px
}

.no-padding {
  padding: 0
}

#connect-job {
  background-color: #fff;
  padding: 60px 0
}

#connect-job h2 {
  margin-bottom: 60px;
  text-align: center;
  font-size: 20px;
  color: #4b4b4b;
  margin-top: 0;
  line-height: 1.5em
}

#connect-job .step .step-img img {
  max-height: 162px;
  margin: auto
}

#connect-job .step .step-img img:hover {
  opacity: .8
}

#connect-job .step .step-name {
  margin: 20px auto 10px;
  text-align: center
}

#connect-job .step .step-name a {
  color: #0e5535;
  font-weight: 700;
  font-size: 16px;
  text-align: center
}

#connect-job .step .step-name a:hover {
  opacity: .6
}

#connect-job .step .step-des {
  margin: 10px auto;
  text-align: center;
  color: #888;
  width: 65%
}

#reason-use {
  background-color: #f5f8fa;
  padding: 60px 0
}

#reason-use h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: #4b4b4b
}

#reason-use .item {
  padding: 30px 0 10px
}

#reason-use .item .item-img img {
  margin: auto
}

#reason-use .item .item-img:hover {
  opacity: .8
}

#reason-use .item .item-info {
  padding: 20px 30px
}

#reason-use .item .item-info h3 {
  color: #0e5535;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px
}

#reason-use .item .item-info ul {
  padding-left: 15px
}

#reason-use .item .item-info ul li {
  color: #4b4b4b;
  line-height: 25px;
  text-align: justify
}

#reason-use .item .item-info .item-link {
  margin-top: 20px
}

#reason-use .item .item-info .item-link a {
  height: 36px;
  line-height: 18px;
  padding: 8px 30px 15px !important;
  border-radius: 2px
}

#partner {
  background-color: #fff;
  padding: 60px 0
}

#partner h2 {
  font-size: 25px;
  font-weight: 700;
  color: #4b4b4b;
  margin-bottom: 20px
}

#partner p {
  font-size: 20px;
  color: #4b4b4b;
  margin-bottom: 40px
}

#partner .company a {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 25px auto 10px;
  padding: 10px
}

#partner .company a img {
  max-height: 100%;
  width: auto
}

#partner .company a:hover {
  opacity: .6
}

#box-feedback-and-stat {
  /* background-image: url(../images/welcome/bg-image/bg_statistic.png); */
  background-size: cover;
  background-position: bottom;
  padding: 60px 0
}

#feedback {
  padding-top: 60px 0 30px
}

#feedback h2 {
  font-size: 25px;
  font-weight: 700;
  color: #4b4b4b;
  margin-bottom: 60px;
  margin-top: 0
}

#feedback .item {
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 4px;
  min-height: 200px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .05);
  margin-bottom: 30px
}

#feedback .item img {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 15px 15px 0
}

#feedback .item h5 {
  color: #0e5535;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 5px
}

#feedback .item span {
  color: #999;
  font-size: 12px;
  opacity: .6
}

#feedback .item p {
  color: #999;
  display: block;
  font-size: 13px
}

#feedback .slick-dots {
  padding: 20px;
  bottom: unset
}

#feedback .slick-dots li button:before {
  margin-top: 5px;
  font-size: 20px;
  color: #0e5535
}

.slick-arrow {
  display: none !important
}

#stat {
  padding: 60px 0 0
}

#stat .item {
  text-align: center
}

#stat .item span {
  color: #0e5535;
  font-weight: 700;
  font-size: 36px
}

#stat .item p {
  color: #888;
  line-height: 20px;
  margin-top: 10px;
  padding: 0 30px
}

#stat .row>div:last-child {
  text-align: center;
  margin-top: 40px
}

#stat .row>div:last-child .btn {
  padding-left: 30px !important;
  padding-right: 30px !important;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 15px;
  border-radius: 2px
}

footer {
  border-top: 1px solid #eee;
  background-color: #fff;
  color: #666;
  overflow: hidden
}

footer .group-label {
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
  position: relative
}

footer .group-label:after {
  content: " ";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #ddd;
  position: absolute;
  bottom: 0
}

footer ul {
  list-style: none;
  padding-left: 0;
  line-height: 26px
}

footer ul a {
  color: #666
}

footer .social-icons {
  margin-bottom: 15px
}

footer .social-icons a {
  display: inline-block;
  color: #999;
  margin-right: 5px;
  font-size: 1.5em
}

footer .logo {
  margin-bottom: 20px;
  display: block
}

footer .footer-left {
  padding: 40px 0 40px 15px
}

footer .footer-right {
  padding: 40px 0 40px 40px
}

.footer-common-search-keywords {
  font-size: 12px
}

footer .footer-bottom {
  border-top: 1px solid #eee;
  background-color: #fafafa;
  padding-top: 15px;
  padding-bottom: 5px
}

.text-white {
  color: #fff
}

a.text-white:hover {
  color: #efefef
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background-color: #f6f6f6 !important;
  border: 0 !important;
  color: #666 !important
}

@media(min-width:992px) {
  #frm-search-job .col-input {
    width: 80%
  }

  #frm-search-job .col-button {
    width: 20%
  }

  .create-cv {
    width: 60%
  }

  #frm-search-job .btn-search-job {
    width: 100%
  }

  #reason-use .item .item-img-left {
    float: right
  }
}

@media(max-width:991px) {
  #connect-job {
    padding: 30px 0
  }

  #connect-job .step .step-des {
    width: 100%
  }

  #connect-job h2 {
    margin-bottom: 30px;
    font-size: 15px
  }

  #reason-use {
    padding: 0
  }

  #reason-use h2 {
    font-size: 20px
  }

  #reason-use .item {
    padding: 0
  }

  #partner {
    padding: 10px 0 30px
  }

  #partner h2 {
    font-size: 20px
  }

  #partner p {
    font-size: 15px;
    margin-bottom: 0
  }

  #box-feedback-and-stat {
    padding: 30px 0
  }

  #feedback h2 {
    font-size: 20px;
    margin-bottom: 30px
  }

  #stat .row>div:last-child {
    margin-top: 20px
  }
}

@media(min-width:768px) and (max-width:991px) {
  #frm-search-job .col-button {
    text-align: center
  }

  #reason-use .item .item-info {
    padding: 0 70px
  }
}

@media(max-width:767px) {
  .create-cv {
    padding-bottom: 50px
  }

  .create-cv .slogan h1 {
    font-size: 18px
  }

  .create-cv .description p {
    width: 80%;
    font-size: 15px
  }

  .create-cv .div-btn .create-cv-free-link {
    font-size: 15px
  }

  #frm-search-job .input-data {
    padding-left: 15px;
    padding-right: 15px
  }

  #frm-search-job .btn-search-job {
    width: 100%
  }

  #frm-search-job .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 45px
  }

  #frm-search-job .input-data .input-icon-select2 {
    left: 30px
  }

  footer .footer-right {
    padding-left: 15px;
    padding-bottom: 15px
  }

  footer .footer-left {
    padding-top: 15px
  }
}

@media(min-width:768px) {
  #frm-search-job .input-data {
    padding-right: 0
  }

  footer .footer-left {
    box-shadow: inset -30px 1px 30px -16px #eee;
    float: left
  }

  footer .footer-right {
    float: right
  }
}

@media(max-width:479px) {
  #reason-use .item .item-info {
    padding: 0 30px
  }
}
